<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindowAutosaveFrameMovesToActiveDisplay</key>
	<integer>0</integer>
	<key>WebKitDeveloperExtras</key>
	<integer>0</integer>
	<key>__uniquePageGroupID-1.WebKit2ScrollAnimatorEnabled</key>
	<integer>0</integer>
	<key>__uniquePageGroupID-1.WebKit2ShouldRespectImageOrientation</key>
	<integer>0</integer>
	<key>TPCResourceManagerMigrate -&gt; Migrated Resources</key>
	<integer>0</integer>
	<key>TPCResourceManagerMigrate -&gt; Installation Migrated</key>
	<integer>0</integer>
	<key>TPCResourceManagerMigrate -&gt; User Acknowledged</key>
	<integer>0</integer>
	<key>TPCResourceManagerMigrate -&gt; User Prefers Pruning Files</key>
	<integer>0</integer>
	<key>TPCResourceManagerMigrate -&gt; All Extensions Pruned</key>
	<integer>0</integer>
	<key>TPCResourceManagerMigrate -&gt; Imported Keys</key>
	<integer>0</integer>
</dict>
</plist>
